.transaction-history {
    width: 1000px;
    border-collapse: collapse; 
    margin: auto;
  }
  
  .header-row {
    background-color: turquoise; 
    color: white;
  }
  
  .even-row {
    background-color: #f4f4f4; 
  }
  
  .odd-row {
    background-color: white; 
  }
  
  .transaction-history th,
  .transaction-history td {
    padding: 8px;
    border: 1px solid #dddddd; 
    text-align: center; 
    font-size: 12px; 
    font-weight: 500;
  }
  
  .transaction-history th {
    text-align: center;
  }