 .user_card{  
    display: flex;
     width: 100%; 
     height: auto; 
     background-color:azure;
     justify-content: center;

 } 

 .profile { 
    border: 1px solid gray;  
    border-radius: 6px;
    display: block; 
   width: 320px; 
   background-color: aliceblue;
    
   text-align: center;

    justify-content: center; 
    align-items: center; 
    justify-items: center;
    
} 
 
.description{  
    
     display: inline-block;  
     width: 320px; 
     height: auto;  
    padding-top: 50px; 
    padding-bottom: 30px;
    
    
} 

.avatar_user{ 
    border:1px solid black;
    border-radius: 50%; 
    width: 180px;
}  

 
.name{ 
    font-size: 24px;  
    font-weight: 700;

} 

.tag, 
.location{ 
    font-size: 20px; 
    font-weight: 600; 
    color: grey;
}


 
.stats{  
    display: flex; 
    list-style: none; 
    justify-content: space-between; 
    width: 320px; 
    margin: auto;  
    padding: 0; 
    border-radius: 50%;

} 
 
.stats>li{ 
    display: inline-block; 
    text-align: center; 
    border: 1px solid gray; 
    flex: 1;  
    background-color:darkgray;
    padding-top: 15px; 
    padding-bottom: 15px;
 
} 

.stats .label {
    display: block;  
    font-size: 20px; 
    font-weight: 500; 
    color: gray;
  }
  
  .stats .quantity {
    display: block;  
    font-weight: 700; 
    font-size: 24px;
  }